*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    background-color:#0e0e0e ;
}

.nav-bar{
    display: flex;
    width: 100%;
    height: 58px;
    background-color:#0e0e0e ;
    color: #9ba3b4;
    align-items: center;
    justify-content: space-around;
}

.brand{
    display: flex;
    padding: 5px;
    font-weight: 500;
    position: relative;
   right: 20px;
  ;
}
.brand span{
    font-size: 20px;
    color: white;
}
.brand-comp{
    margin: 5px;
}
.mid-comp a{
    font-size: 18px;
    font-weight: 500;
}
.mid-comp :hover{
    color: #e9eaeb;
}

.mid-nav-list{
    display: flex;
    text-decoration: none;
    
    position: relative;
    right: 185px;
}
.mid-comp{
    margin-left: 25px;
    
}
.right-nav-list{
    display: flex;
    text-decoration: none;
    width: 250px;
    position: relative;
    right: 125px;
    
}
.light-but button{
    background-color: #0e0e0e;
    color: #9ba3b4;
    border: none;
    position: relative;
    right: 15px;
    cursor:pointer;
    height: 33px;
    width: 20px;
    border-radius: 8px;
}
.light-but button :hover{
    background-color: rgba(255,255,255,0.10);
}
.light-but button span {
    /* height: 33px; */
    border-radius: 5px;
    font-size: 20px;
    /* width: 32px; */
    position: relative;
    top: 5px;
    
}
.search{
    display: flex;
    border: .5px solid #9ba3b4 ;
    border-radius: 3px;
    position: relative;
    top: 22px;
    height: 30px;
}
.search button{
    background-color: #0e0e0e;
    color: #9ba3b4;
    border: none;
    position: relative;
    /* right: 15px; */
    font-size: 4px ;
    cursor:pointer;
    padding: 5px;
    bottom: 20px;
}
.search input{
    font-size: 17px;
    color:#9ba3b4 ;
    background-color:#0e0e0e ;
    border: none;
    padding: 8px;
}
.download button{
    font-size:19px ;
    height: 34px;
    width: 106px;
    margin-left: 7px;
    border-radius: 5px;
    border: none;
    color: rgb(255, 255, 255);
    background-color:#0078d4 ;
    font-weight: 500;
}
.download button:hover{
    background-color: rgb(79, 101, 179);
}

a{
    text-decoration: none;
    color: #9ba3b4;
}
.hero{
    display: flex;
    height: 700.28px;
    width: 1490.8px;
    /* margin-top:32px ;
    margin-left: 76.4px;
    margin-right: 76.4px;
    margin-bottom: 96px; */
    background-color: #0e0e0e;
    border-bottom: 1px solid #ffffff1f;
}
.hero-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    color: #e9eaeb;
}
.hero-cont-sp{
    padding-left: 135px;
}
.hero-img {
    padding-top: 60px;
    margin-right: 125px;
}
.hero-cont-sp1{
    font-size: 14px;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 32px;
    background-color: #ffffff0a;
    border: 1px solid #ffffff12;
    color: #9ba3b4;
    width: max-content;
    margin-bottom: 8px;
    margin-left: 135px;
}
.hero-cont-sph{
    font-size: 54px;
    font-weight: 500;
    padding-left: 135px;
}
.hero-cont-download{
    background-color: #0078d4;
    color: #ffffff;
    border-radius: 8px;
    font-size: 20px;
    padding: 12px 24px;
    width: 250px;
    height: 50px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-left: 135px;
}
.hero-cont-web{
    margin-left: 135px;
    font-size: 15px;
}
.hero-cont-web a{
    text-decoration:underline ;
    /* text-decoration-color:blue ; */
    color: #0078d4;
}


.hero-cont-mini{
    margin-left: 135px;
    font-size: 12px;
    color: #9ba3b4;
}

.hero-cont span ,button{
    margin-top: 20px;
}

.net{
    display: flex;
    background-color:#0e0e0e ;
    color: #9ba3b4;
    height: 100%;
    padding-top: 96px;
}
.net-cont{
    width: 575px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700.28;
}

.net-lan{
    display: grid;
    width: 710px;
    grid-template-columns: auto auto auto;
    height: 700.28;
    row-gap: 5px;
    column-gap: 8px;
}
.lan{
    display: flex;
    font-size: 16px;
    height: 40px;
}
.lan img{
    width: 40px;
    height: 40px;
}
.lan code{
    padding-top: 11px;
}
.net-cont h2{
    color:#e9eaeb;
    font-weight: 400;
    letter-spacing: -0.2px;
    margin-top: 0;
    line-height: 150%;
    font-size: 35px;
    line-height: 150%;
    margin-bottom: 3px;
}
.net-cont p{
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    color: var(--home-foreground);
    width: 243px;
}
hr {
    background-color: lightgrey;
  }